language: ruby

cache: 
  bundler: true
  directories:
    - node_modules
  yarn: true

rvm:
  - 2.6.3

services:
  - postgresql

addons:
  postgresql: 12
  apt:
    packages:
      - postgresql-12
      - postgresql-client-12

env:
  global:
    - PGPORT=5433
    - CC_TEST_REPORTER_ID=e54f24c60ea55d00f23cba6796704ec633938d432fde7da52a872511496a36b8

before_script:
  - psql -c 'create database code_review_metrics_travis;' -U travis
  - psql -U travis -q -d code_review_metrics_travis -f db/structure.sql
  - cp config/database.yml.travis config/database.yml
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build

install:
  - bundle install
  - nvm install node
  - node -v
  - npm i -g yarn
  - yarn

script:
  - bundle exec rails webpacker:compile
  - bundle exec rspec
  - bundle exec rake code_analysis

after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
