language: ruby
cache: bundler
rvm:
  - 2.6.3

services:
  - postgresql

addons:
  postgresql: 12
  apt:
    packages:
      - postgresql-12
      - postgresql-client-12

env:
  - PGPORT=5433

before_script:
  - psql -c 'create database code_review_metrics_travis;' -U travis
  - psql -U travis -q -d code_review_metrics_travis -f db/structure.sql
  - cp config/database.yml.travis config/database.yml

script:
  - bundle exec rake db:migrate
  - bundle exec rspec