<div class="col-md-10">
  <%= render 'shared/nav-filter' do |f|%>
      <%= f.input :period,
      wrapper_html: { class: 'period-selection' },
      input_html: { class: 'margin-left' },
      required: false,
      collection: [['Daily', 'daily'], ['Weekly', 'weekly']],
      selected: value_from_query_param(:period),
      prompt: '- select option -'
    %>
  <% end %>
  <%= render partial: 'shared/line-chart',
              locals: { metric_name: 'Review Turnaround', metric: @review_turnaround } %>
  <%= render partial: 'shared/line-chart',
              locals: { metric_name: 'Merge Time', metric: @merge_time } %>

</div>
