<div class='code-owners'>
  <span class='code-owners-title'>Code Owners</span>
  <div class="code-owners-list">
    <%if code_owners.present? %>
      <ul>
        <% code_owners.each do |code_owner|%>
          <li>
            <span class="badge badge-secondary"><%= code_owner %></span>
          </li>
        <%end%>
      </ul>
    <%end%>
  </div>
</div>
