<button type="button" class="btn btn-secondary details-button">View details</button>

<div style="display: none">
  <%= render partial: 'shared/line-chart',
              locals: {
                metric_name: '',
                metric: review_turnaround[:per_users_project] || review_turnaround[:per_language]
              } if review_turnaround &&
                   (review_turnaround[:per_users_project] ||
                   review_turnaround[:per_language]) %>
</div>
