<div>
  <button type="button" class="btn btn-secondary details-button">View details</button>
</div>

<div style="d-none">
  <%= render partial: 'shared/line-chart',
              locals: {
                metric_name: '',
                metric: review_turnaround[:per_users_repository] || review_turnaround[:per_language]
              } if review_turnaround &&
                   (review_turnaround[:per_users_repository] ||
                   review_turnaround[:per_language]) %>
</div>
