<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
      <thead class="thead-dark"><th colspan="7">Repositories with available CodeClimate data for selected time range</th></thead>
        <thead class="thead-light">
          <th>Name</th>
          <th>Rate</th>
          <th>Test Coverage</th>
          <th>Invalid Issues Count</th>
          <th>Won't Fix Issues</th>
          <th>Open Issues</th>
          <th></th>
        </thead>
        <tbody>
          <% repositories_details.each do |repository_summary| -%>
            <%= render 'code_climate_repository_report',
              code_climate: {
                name: repository_summary.name,
                code_climate_rate: repository_summary.rate,
                invalid_issues_count: repository_summary.invalid_issues_count,
                wont_fix_issues_count: repository_summary.wont_fix_issues_count,
                open_issues_count: repository_summary.open_issues_count,
                test_coverage: repository_summary.test_coverage
              } %>
          <% end %>
        </tbody>
      </table>
      <% if repositories_without_cc.present? -%>
        <table class="table table-striped table-bordered table-hover">
          <thead class="thead-dark"><th colspan="7">Repositories without available CodeClimate data for selected time range</th></thead>
          <tbody>
            <% repositories_without_cc.each do |repository| -%>
              <%= render 'code_climate_repository_without_cc', repository: repository %>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>
