<%= simple_form_for :metric, url: code_climate_department_path,
  method: 'GET', html: {
    class: 'nav-filter p-3',
    id: 'nav-filter-form' } do |f|%>
      <h4 class="text-center">CodeClimate report for <%= department.name.capitalize %> department repositories</h4>
      <div class="row justify-content-center mt-3">
        <%= f.input :lang,
          label: 'Technology',
          wrapper_html: { class: 'col-md-4' },
          input_html: { class: 'input-height', multiple: true},
          required: false,
          collection: all_languages_names(department),
          selected: all_languages_names(department)
        %>
      </div>
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
          <%= f.button :submit, 'Submit', class: 'btn-secondary', id: 'submitButton' %>
        </div>
      </div>
<% end %>
