<%=  render 'development_metrics/development_metrics_sidebar', enabled_users_section: @enabled_users_section %>

<div class="col-md-12">
  <div class="row p-3">
    <div class="col-md-12">
      <%= render 'nav-filter', department: @department do |f|%>
        <div class="row">
          <div class="col-md-5 period-input">
            <%= render 'shared/interval-filter', form: f %>
          </div>
          <div class="col-md-8 col-md-offset-1">
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row p-3">
    <div class="col-md-12">
      <%= render 'code_climate_department_report',
                 department: @department,
                 repositories_details: @code_climate,
                 repositories_without_cc: @repositories_without_cc
      %>
    </div>
  </div>
</div>
