.chart {
  height: 300px;
  display: block;
}

.main-charts {
  display: flex;
  flex-direction: row;
}

.chart-container {
  flex: 1;
  flex-direction: column;
}

.metric-title{
  text-align: center;
  margin-bottom: 2rem;
  font-size: 20px;
}
