.sidebar-form {
  width: 100%;
  display: flex;
  justify-content: center;
<<<<<<< HEAD
}

.metric_period{
=======
  flex-direction: column;
}

.metric_project{
>>>>>>> origin
  width: 100%;
}

.container-height{
  height: 92vh;
}

.sidebar-border {
  box-shadow: 1px 1px 5px 0 rgba(171,158,171,1);
}
