$nav-background: #ab0404;
$nav-border: 1px solid rgb(75, 75, 75);


.nav-style { 
  background-color: $nav-background;
  border-bottom: $nav-border;
}

.nav-txt-color { color: $white; }

a:hover { color: $white }
