<div class='p-3 chart-container'>
  <span class='metric-title'><%= metric_name %></span>
  <div class='chart'>
    <%= column_chart metric,
        id: chart_id,
        empty: "No data",
        suffix: suffix,
        library: { spanGaps: true } %>
  </div>
</div>
