<nav class="nav nav-style nav-txt-color p-2">
  <a class="navbar-brand nav-txt-color" href="/">Github Analyzer</a>
  <li class="nav-item">
    <%= link_to "Review Turnaround", review_turnaround_metrics_path, class: 'nav-link active nav-txt-color active' %>
  </li>
</nav>
