<div class='p-3 chart-container'>
  <span class='page-title'><%= metric_name %></span>
  <%= line_chart metric,
      ytitle: "Time as hours",
      suffix: "hours",
      library: { spanGaps: true } %>
</div>
