<div class='p-3 chart-container'>
  <span class='metric-title'><%= metric_name %></span>
  <div id='chart-1' class='chart'>
    <%= line_chart metric,
        ytitle: "Time as hours",
        suffix: " hours",
        library: { spanGaps: true } %>
  </div>
</div>
