<div class="container-fluid">
  <div class="row p-3">

      <div class="row p-3">
      <div class="metrics-container container col-md-12">
        <div class="metrics shadow-box p-3">

        <% pull_requests.each do |range,pr| %>
          <h6><%= range %> hours:</h6>
          <ul>
            <% pr.each do |pr_link| %>
              <li>
                <%= link_to nil, pr_link, target: '_blank' %>
                </li>
            <% end %>
          </ul>
        <% end %>
        </div>
    </div>
  </div>
</div>
</div>
