
  <div class="logo-container">
    <div class="d-flex align-items-center logo">
      <%= image_tag('logo-nav.svg')%>
    </div>
    <span class="d-flex justify-content-center align-items-center txt-logo">Engineering Metrics</span>
  </div>


  <%= yield(:development_metrics_sidebar) %>
  <% # yield(:open_source_sidebar) %>
