<div class="col container-height sidebar-border">
  <div class="container-md">
    <div class="row p-3">
      <%= simple_form_for :metric, url: review_turnaround_project_metrics_path,
        method: 'GET', html: { class: 'sidebar-form' } do |f| %>
          <%= f.input :period,
            input_html: {class: 'period-selection'},
            required: false,
            collection: [[],['Daily', 'daily'], ['Weekly', 'weekly']],
            selected: value_from_query_param
          %>
      <% end %>
    </div>
  </div>
</div>
