<div class="col container-height sidebar-border">
  <div class="container-md">
    <div class="row p-3">
      <select
        class="time-period-select js-states form-control sidebar-selector"
        data-placeholder="Time Period"
      >
        <option></option>
        <option value="daily">Daily</option>
        <option value="weekly">Weekly</option>
      </select>
    </div>
  </div>
</div>
