<div class="col container-height shadow-box sticky-top">
  <div class="container-md">
    <div class="row p-3">
      <label for="project_name">Project Name:</label>
      <select name="project_name" class="project-selection" form='nav-filter-form'>
        <% if params[:project_name].blank? %>
          <option selected value disabled>-select option-</option>
        <% else %>
          <option value disabled>-select option-</option>
        <% end %>
        <% all_projects_names.each do |name|%>
          <%if params[:project_name] == name %>
            <option selected value=<%= name %>> <%= name%> </option>
          <% else %>
           <option value=<%= name%>> <%= name%></option> %>
          <% end %>
        <% end %>
      </select>
    </div>
  </div>
</div>
