
<div class="sidebar-container col-md-2">
  <div class="logo-container">
    <%= image_tag('logo-nav.svg')%>
    <span class="txt-logo">Engineering Metrics</span>
  </div>
  <%= yield(:development_metrics_sidebar) %>
  <%= yield(:open_source_sidebar) %>
</div>
