<div class="col container-height sidebar-border">
  <div class="container-md">
    <div class="row p-3">
      <select
        class="time-period-select js-states form-control sidebar-selector"
        data-placeholder="periodo de tiempo"
      >
        <option></option>
        <option value="daily">Diario</option>
        <option value="weekly">Semanal</option>
      </select>
    </div>
  </div>
</div>
