<div class="row">
  <div class="col-md-12">
    <table class="code-climate-projects-report table table-bordered">
      <tbody>
        <% [1,2,3].each do |i| -%>
          <%= render 'departments/code_climate_project_report',
            code_climate: {
              name: 'rs-code-review-metrics',
              code_climate_rate: 'A',
              invalid_issues_count: 11,
              wont_fix_issues_count: 11,
              open_issues_count: 11,
            } %>
        <% end -%>
      </tbody>
    </table>
  </div>
</div>
