<div class='p-3 chart-container'>
  <div id='chart-1' class='chart'>
    <%= line_chart metric,
                   ytitle: "Percentage",
                   suffix: " percent",
                   library: { spanGaps: true } %>
  </div>
</div>
