<div class="summary col-md-#{details ? '4' : '12'}">
  <div class="container p-4">
    <h3>Summary</h3>
    <hr>
    <% if metric && metric[:rate] -%>
      <div class="item-list">
        <div>
          <h5>Overall <%= defect_escape_rate_definition && defect_escape_rate_definition[:name] %>:</h5>
          <span class="text-primary">
                <h2>
                  <%= metric[:rate] %> %
                </h2>
              </span>
        </div>
      </div>
      <hr>
      <div>
        <h5>Bugs by environment:</h5>
        <% metric[:values].each do |environment, bugs| %>
          <div class="item-list">
            <%= environment.to_s.capitalize.presence || 'None' %>: <%= bugs %>
          </div>
          <div></div>
        <% end %>
      </div>
    <% else -%>
      <div class="col-md-12 text-center mt-2">
        <span class="text-danger">No bugs reported on this period</span>
      </div>
    <% end -%>
  </div>
</div>
