<%= render 'shared/sidebar' do |f| %>
  <%= f.input :period,
    input_html: {class: 'period-selection'},
    required: false,
    collection: [[],['Daily', 'daily'], ['Weekly', 'weekly']],
    selected: (value_from_query_param(:period) || 'Daily')
  %>
<% end %>
<div class='col-md-10 p-3'>
  <%= line_chart @metrics, ytitle: "Time as hours", suffix: " hours" %>
</div>
