.nav-style { 
  background-color: $nav-bg-color;
  border-bottom: $nav-border-color;
}

.nav-txt-color { color: $white; }

a:hover { color: $white }

.nav-items-container {
  display: flex;
  flex-direction: row;
}

.admin-button {
  margin-left: auto;
}
