.nav-style {
  background-color: $white;
  border-bottom: $nav-border-color;

}

.nav-txt-color { color: $light-grey; }

.nav-link{
  text-decoration: none;
  &:hover{
    text-decoration: none;
    color: $white;
    background-color: $light-grey;
  }
}

.nav-items-container {
  display: flex;
}

.admin-button {
  margin-left: auto;
}
