.margin-left{
  margin-left: 0.5rem;
}

.shadow-box {
  box-shadow: 1px 1px 5px 0 rgba(171,158,171,1);
}

.link-none-style-black {
  color: black;
  text-decoration: none;
  &:hover{
    text-decoration: none;
    color: black;
  }
}

.full-with{
  width: 100%;
}

.input-height{
  height: 3rem !important;
}

.page-title{
  text-align: center;
  font-size: 1.5rem;
}
