.btn-entity-group,
select[name$=_name] {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.body-empty-container{
  height: 25vh;
  span{
    color: $light-grey;
  }
}
