<%= render 'shared/user/sidebar'%>
<div class="col-md-10">
  <h2 class='user-name'><%= @user.login%></h2>
  <hr>
  <span>Code Owner in:</span>
  <% if @projects.present? %>
    <ul>
      <% @projects.each do |project|%>
        <li>
          <%= link_to project.name,
              projects_development_metrics_path(project_name: project.name, metric: {period: 4}),
              class: 'link-none-style-black'
          %>
        </li>
      <%end%>
    </ul>
  <%else%>
    <p>
      <br>
      <strong>
        <em>This user is not participating in any project as code owner</em>.
      </strong>
    </p>
  <%end%>
</div>
