<div class="summary col-md-#{details ? '4' : '12'}">
  <div class="container p-4">
    <h3>Summary</h3>
    <hr>
    <% if metric && metric[:average]&.positive? -%>
      <div class="item-list">
        <div>
          <h5>Overall <%= development_cycle_definition && development_cycle_definition[:name] %>:</h5>
          <span class="text-primary">
                <h2>
                  <%= metric[:average] %> days
                </h2>
              </span>
        </div>
      </div>
    <% else -%>
      <div class="col-md-12 text-center mt-2">
        <span class="text-danger">No issues reported on this period</span>
      </div>
    <% end -%>
  </div>
</div>
