table.code-climate-projects-report {
  border: none;
  border-collapse: separate;
  border-spacing: 0 1rem;
  tr {
    border: none;
    td {
      border: none;
      border-right: solid 1px;
      text-align: center;

      &:first-child {
        border-right: none;
      }
      &:last-child {
        border-right: none;
      }
    }
  }
}

.project-name-link{
  text-decoration: none;
  color: black;
  &:hover{
    text-decoration: none;
    color: black;
  }
}

.code-climate-summary-container {
  background-color: gainsboro;
}

.code-climate-summary-title {
  padding: 0.5em 4em;
}

.code-climate-summary-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 4em;
}

.code-climate-summary-ratings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.code-climate-summary-issues {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
