.period-input {
  @include flex-row-start;
  align-items: baseline;
}

.period-selection{
  display: flex;
  align-items: baseline;

  input.numeric{
    margin: 0 0.2rem;
  }
}

.period-input-external-pr{
  width: 4rem;
  margin: 0 0.7rem;
}
