.summary {
  .container {
    background-color: white;
    margin-bottom: 1em;

  }

  .title {
    padding: 0.5em 4em;
  }

  .info {
    display: flex;
    flex-direction: row;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .item-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .overview {
    .info {
      justify-content: space-evenly;
    }
  }

  .code-climate {
    .info {
      justify-content: space-between;
    }
  }

  .extra-padding {
    padding: 6rem;
  }
}
