<ul class="nav p-2" style="color: white; background-color: #ab0404;">
  <a class="navbar-brand" style="color: white" href="/">Github Analyzer</a>
  <li class="nav-item">
    <a class="nav-link active" style="color: white" href="/review_turnaround">Review Turnaround</a>
  </li>
</ul>