<nav class="nav nav-style nav-txt-color p-2 nav-items-container">
  <span class="navbar-brand nav-txt-color">Engineering Metrics</span>
  <%= link_to 'Development Metrics', metrics_users_projects_path, class: 'nav-link active nav-txt-color'%>
  <%= link_to 'Blog Metrics', tech_blog_path, class: 'nav-link active nav-txt-color'%>
  <%= link_to 'Admin', new_admin_user_session_path, class: 'nav-link active nav-txt-color admin-button'%>
</nav>
