<nav class="nav nav-style nav-txt-color p-2 nav-items-container">
  <span class="navbar-brand nav-txt-color">Engineering Metrics</span>
    <a class="nav-link active nav-txt-color admin-button" href="/">Admin</a>
</nav>
